body{
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 60px;
    color: white;
    border-radius: 50px;
    height: 500px;
    width: 220px;
    font-weight: 400;
}
.sectiontwo{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.container {
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 50%;
    left: 50%;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}